* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  width: 100%;
  padding: 20px 10px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  background-color: #121214;
  font-family: 'Josefin Sans';
  background-image: linear-gradient(to bottom, transparent, #0b0b0c 60%);

}

#typing-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.typing-phrase {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.07);
  pointer-events: none;
  margin: 20px;
}


.fade-letter {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* Container 1------------------------------------------------ */
.section-1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cursor {
  animation: blink 1s infinite;
  color: white;
}

#cursor {
  font-size: 8.5vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#main-typing {
  font-size: 8.5vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#typing-text {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#fade-in-text {
  font-size: 25px;
  color: white;
  opacity: 0;
  letter-spacing: 1vw;
  transition: opacity 5s ease;
}

#fade-in-text.show {
  opacity: 1;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* footer ------------------------------------------------------ */
.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.fixed-footer a {
  margin: 1vw;
}

.footer-buttons {
  font-size: 1.5vw;
  color: white;
  transition: transform 0.5s;
}

.footer-buttons a {
  text-decoration: none;
}

.icon {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 10;
  opacity: 1;
  transition: transform 0.5s;
  stroke: rgb(252, 0, 0);
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-btn {
  color: white;
}

.social-icons a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  /* transition: color 0.5s; */
}

/* .social-icons a:hover {
  color: #ffffff;
} */

.fade-footer {
  opacity: 0;
  transition: opacity 5s ease;
}

.fade-footer.show {
  opacity: 1;
}

.button-text {
  font-weight: 100;
}

/* Hover effect buttons------------------------------------------------ */
.footer-buttons:hover {
  transform: scale(1.03);
}

.footer-buttons:active {
  transform: scale(0.95);
}

/* Icon  hover */
.footer-buttons:hover .icon {
  transform: translateY(4px);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* Container 2------------------------------------------------ */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Responsividade */
@media (max-width: 1024px) {
    .footer-buttons {
    transform: translateX(-1.5%);
    font-size: 3vw;
  }

  .footer-btn {
    padding-top: 1px 2px;
  }

  .social-icons {
    padding: 15px;
    padding-top: 5px;
  }

  .social-icons a {
    transform: translateX(-10%);
    font-size: 3vw;
  }

  .icon {
    width: 2vw;
  }

  #cursor {
    font-size: 5vw;
  }

  #main-typing {
    font-size: 6vw;
  }

  #fade-in-text {
    font-size: 2vw;
    letter-spacing: 1vw;
  }
}


@media (max-width: 768px) {
    .footer-buttons {
    transform: translateX(-1.5%);
    font-size: 3vw;
  }

  .footer-btn {
    padding-top: 1px 2px;
  }

  .social-icons {
    padding: 15px;
    padding-top: 5px;
  }

  .social-icons a {
    transform: translateX(-10%);
    font-size: 3vw;
  }

  .icon {
    width: 2vw;
  }

  #cursor {
    font-size: 5vw;
  }

  #main-typing {
    font-size: 6vw;
  }

  #fade-in-text {
    font-size: 2vw;
    letter-spacing: 1vw;
  }
}

@media (max-width: 480px) {
  .footer-buttons {
    transform: translateX(-3%);
    font-size: 3vw;
  }

  .footer-btn {
    padding-top: 1px 2px;
  }

  .social-icons {
    padding: 15px;
    padding-top: 5px;
  }

  .social-icons a {
    transform: translateX(-10%);
    font-size: 15px;
    gap: 20px;
  }

  .icon {
    width: 20px;
    padding-top: 5px;
    gap: 20px;
  }

  #cursor {
    font-size: 8.3vw;
  }

  #main-typing {
    font-size: 8.3vw;
  }

  #fade-in-text {
    font-size: 3.5vw;
    letter-spacing: 1vw;
  }
}
